h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    letter-spacing: 0.1em;
}

h4, h5, h6 {
    margin-top: 20px;
}

h3 > small {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    color: #2f2f2f;
    letter-spacing: 0;
}

main > header
{
    margin-bottom: 0;
}

.navbar
{
    margin-bottom: 0;
}
.navbar-brand
{
    height: auto;
}

.navbar-brand > a
{
    margin-right: 1em;
}

body>main .jumbotron {
    border-radius: 0;
    padding: 0;
    position: relative;

    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 0;
    background-color: white;

}
.row
{
    padding-top: 4em;
    padding-bottom: 5.5em;
}
.row.footer
{
    color: white;
    background-color: #2f2f2f;
    padding-top: 0.5em;
    padding-bottom: 0;
}
#eyecatcher > img {
    width: 100%;
}

#call-to-action {
    color: white;
    padding: 1em;
    position: absolute;
    top: 80px;
    right: 0;
    text-align: right;
    background-color: rgba(0,0,0,0.3);
}

#call-to-action-welcome
{
    font-size: 2.5em;
}

#call-to-action-tagline
{
    font-size: 0.9em;
}

#landing-about-cloud {
    position: absolute;
    top: 1em;
    left: -5em;
}
#landing-about-padlock {
    position: absolute;
    top: 2em;
    right: -5em;
}
#landing-about-arrows {
    position: relative;
    top: 2em;
    left: -3em;
    width: 170%;
}

.img-header {
    height: 1.5em;
    vertical-align: bottom;
    margin-left: 1em;
}

@media (max-width: 767px) {
    #call-to-action {
        position: relative;
        top: 0;
    }

    #eyecatcher > img {
        position: absolute;
        left: 0;
        top: 0;
        min-width: 500px;
        min-height: 100%;
    }

    #eyecatcher
    {
        overflow: hidden;
    }

    #call-to-action-welcome
    {
        padding-left: 120px;
    }
    #landing-about-cloud {
        position: relative;
        float: right;
        left: 0;
        top: 0;
    }
    #landing-about-padlock {
        position: relative;
        float: right;
        left: 0;
        top: 0;
    }
    h3 > small {
        display: inline-block;
    }
}

