#landing-about-cloud {
    position: absolute;
    top: 1em;
    left: -5em;
}
#landing-about-padlock {
    position: absolute;
    top: 2em;
    right: -5em;
}
#landing-about-arrows {
    position: relative;
    top: 2em;
    left: -3em;
    width: 170%;
}

img.promo {
    width: 100%;
}

img.blimp {
    max-width: 200px;
    background: none;
}